<div class="header-body">
    <div class="header-logo-container">
        <img src="/img/logo/header_logo.png" class="header-logo">
    </div>
    <div class="header-description-container">
        <div class="header-description">
            <div class="duo-1">
                Créations personnalisées, décors en chocolat, crèmes au beurre et ganaches...
            </div>
            <div class="duo-2">
                Recettes adaptées à chaque demande
            </div>
        </div>
    </div>
</div>

<div class="header-floater">
    <div class="icon-left">
        <svg class="icon i-left">
            <use xlink:href="svg/sprite.svg#location_fill"></use>
        </svg>
        <span>{{ admin_details.location | location_format }}</span>
    </div>
    <div class="icon-left">
        <svg class="icon i-left">
            <use xlink:href="svg/sprite.svg#shipping_fill"></use>
        </svg>
        <span>Livraison</span>
    </div>
</div>

        