<nav class="login-navbar">
    <div class="nav-group-home">
        <a href="{{ path('home') }}" class="nav-link logo-link {% if current_menu is defined and current_menu is same as 'home' %}active{% endif %}">
            <img class="nav-logo" src="/img/logo/nav_logo.png">
        </a>
    </div>
</nav>