
<a href="{{ path('admin_cakes_new') }}" class="icon-left admin-mooving-button admin-button-update">
    <svg class="icon i-left">
        <use xlink:href="/svg/sprite.svg#add"></use>
    </svg>  
    <span>Ajouter un gâteau</span>
</a>