<a href="{{ path('admin_cakes_update', {id: cake.id}) }}" class="cake-card-button cake-edit-button icon-left">
    <svg class="icon i-left">
        <use xlink:href="/svg/sprite.svg#edit"></use>
    </svg> 
    <span>Modifier</span>
</a>