<div class="pub">
    <p class="icon-left">
        <svg class="icon i-left">
            <use xlink:href="svg/sprite.svg#location"></use>
        </svg>
        <span>{{ admin_details.location | location_format }}</span>
    </p>
    <p>
        <span class="alternative">5€ la part + 15€ design et main d'oeuvre</span>
    </p>
    <p class="icon-left">
        <svg class="icon i-left pub-i-shipping">
            <use xlink:href="svg/sprite.svg#shipping_fill"></use>
        </svg>
        <span>Livraison possible</span>
    </p>
</div>

