{% extends "base.html.twig" %}

{% block title %}Noalia fée des gâteaux : Administration{% endblock %}

{% block admin_css %}
    <link href="/admin.css" rel="stylesheet">
{% endblock %}

{% block base_javascript %}
    <script src="/js/views/admin.js" type="module" defer></script>
{% endblock %}


{% block header %}
    {% include "admin/layouts/_navbar.html.twig" %}
{% endblock %}


{% block container %}
    <div class="container main-container">
        <div class="main-admin">
            <div class="breadcrumb {% block breadcrumb_add_class %}{% endblock %}"> 
                {% block breadcrumb %}{% endblock %}
            </div>
            {% include "layouts/_flashes.html.twig" %}
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}


{% block js_templates %}
    {% include "js_template/flash.html.twig" %}
{% endblock %}
