<a href="{{ path('admin_home') }}" class="icon-left breadcrumb-item">
    <svg class="icon i-left">
        <use xlink:href="/svg/sprite.svg#home_fill"></use>
    </svg>
    <span>Tableau de bord</span>
</a>
<span class="breadcrumb-separator">></span>