<div class="breadcrumb cakes-breadcrumb">
    <a href="{{ path('home') }}" class="icon-left breadcrumb-item js-cakes-to-home">
        <svg class="icon i-left">
            <use xlink:href="/svg/sprite.svg#home_fill"></use>
        </svg>
        <span>Accueil</span>
    </a>
    <span class="breadcrumb-separator">></span>
    <span class="breadcrumb-item active">Toutes mes créations</span>
</div>