<template id="cake-card-template">
    <li class="cake-item js-cake-card appears"
        data-id=""
    >
        <div class="board appears-faster">
            <p></p>
        </div>
    </li>
</template>