<template id="flash-danger-template">
    <div class="alert alert-danger icon-left">
        <svg class="icon i-left">
            <use xlink:href="/svg/sprite.svg#error"></use>
        </svg> 
        <span class="flash-message"></span>
    </div>
</template>

<template id="flash-success-template">
    <div class="alert alert-success icon-left">
        <svg class="icon i-left">
            <use xlink:href="/svg/sprite.svg#info"></use>
        </svg> 
        <span class="flash-message"></span>
    </div>
</template>