<h2 style="text-align: center; padding: 15px; color: rgb(77, 61, 61);  max-width: 500px; margin-left: auto; margin-right: auto;">Bonjour, Fée des gâteaux</h2>

<p style="text-align: center; font-size: 0.9rem; padding: 15px; color: rgb(77, 61, 61); max-width: 500px; margin-left: auto; margin-right: auto;">Vous avez demandé la réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous, il vous redirigera vers une page où vous pourrez créer un nouveau mot de passe.</p>

<p style="text-align: center; font-size: 0.9rem; padding: 15px; color: rgb(34, 163, 120); text-decoration: underline; max-width: 500px; margin-left: auto; margin-right: auto;">   
    <a style="color: rgb(34, 163, 120); text-decoration: underline; font-size: 1.4em;" href="{{ link }}">Réinitialiser mon mot de passe</a>
</p>

<p style="text-align: center; font-size: 0.9rem; padding: 15px; color: rgb(77, 61, 61); max-width: 500px; margin-left: auto; margin-right: auto;">Attention, le lien est valable 24h seulement.</p>
